html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	 a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
	 strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label,
	 legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	 details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary,
	 time, mark, audio, video {
		margin: 0;
		padding: 0;	
}

body {
	font-family: arial, sans-serif;
	font-size: 16px;
}

#outerDiv {
	width:100%;
	text-align:center;
}
		
#innerDiv {
	text-align:left;
	margin: 0 auto;
	max-width: 1200px;
	min-width: 970px
}

.paragraphHeader {
	color: purple;
	font-weight: bold;
	margin-bottom: 5px;
}

.paragraphHeaderImage {
	width: 30px;
	height: 30px;
	margin-right: 5px;
	vertical-align:bottom;
}

#topbar {
    height: 65px;
    margin-top: 10px;
    padding-top: 30px;
    position: relative;
    text-align: center;
}

#bottombar{
    border-top: 1px solid #5e5e5e;
    clear: both;
    font-family: times new roman;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: 5%;
    padding-top: 10px;
    text-align: center;
    width: 90%;
}

#logo {
	position: absolute;
	top: 0px;
	left: 10px;
	width: 160px;
}

.rightmenu {
	position: absolute;
	top: 0px;
	right: 10px;
	text-align: right;
}
		
.menuItem {
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
    width: 150px;
    font-size: 20px;
}

.menuItemSelected {
	background-color: #c3c3c3;
	border-radius: 5px
}

.menuItem a {
   text-decoration: none;
   color: #4f4ff2;
}

.formLabel {
	display:inline-block;
	width: 135px;
}

.formRow {
	margin-bottom: 4px;
}

.error {
	font-weight: bold;
	color: red;
}

#tagline{
	margin-top:-10px;
	margin-bottom:30px;
	font-weight:bold;
	color: #0071BC;
	font-size:20px;
}

/*UserHome.jsp*/
.leftMenu{
	float: left;
    width: 200px;
    /*height: 90px;*/
    margin-left: 5px;
    margin-top: 20px;
    /*border*/
	border: 5px double #00FFFF;
}

/*UserLeftMenu.jsp*/
div.leftMenu div{
	background-color: #FFFF66;
	font-size: 24px;
	color: #0066FF;
	
		
	/*border
	border-bottom-style:double;
	border-width: 5px;
	border-color: #00FFFF;
	*/
	padding:2px;
}
div.leftMenu div:hover,
div.leftMenu a:hover{
	color: #0000FF;
	cursor: pointer;
	background-color: #FF9900;
}

div.leftMenu a{
	text-decoration: none;
	display: block;
}

.leftMenu .leftMenuSelected{
	background-color: #CCCCCC;
}

/*Body for User Related Content*/
.userContent{
	margin-left: 220px;
}

/*Home*/
.contentItem{
	float: left;
	margin: 15px;
	padding: 5px;
	
	/*border*/
	border: 1px solid #ADAD99;
}
.userContentTitle{
	font-size: 25px;
	color: #00CCFF;
	
	border-bottom-style: dotted;
	border-color: #ADAD99;
}
.userContentData{
	margin-left: 5px;
	margin-top: 3px;
	cursor: pointer;
}
.add{
	padding-left: 5px;
	padding-top: 3px;
	cursor: pointer;
	background-color: #DFDFDD;
}


/*My Video's page*/
#mainVideoPanel{
	width: 100%;
	text-align: center;
}
#mainVideo{
	width: 95%;
}
#shareVideo{
	clear:both;
	float: right;
	margin: 5px;

	/*circular border*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ADAD99;
	padding: 3px;
	
	cursor: pointer;
}
#shareVideo:hover{
	background-color: #ADAD99;
}

#videoPreviewPanel{
	clear:both;	
	overflow: auto;
	white-space: nowrap;
}

.videoPreview{
	width: 80px;
	height:60px;
	float:left;
}